extends template

block content

    h1 Upgrade #{myPlayer.name}

    h2 Stat Points: #{myPlayer.statPoints}

    form(action="/myPlayer/upgrade/" + myPlayer.id, method="post")

        button(type="submit", name="stat", value="lay") Upgrade Layup (#{myPlayer.lay})
        hr

        button(type="submit", name="stat", value="mR") Upgrade Mid Range (#{myPlayer.mR})
        hr

        button(type="submit", name="stat", value="tP") Upgrade 3PT (#{myPlayer.tP})
        hr

        button(type="submit", name="stat", value="dunk") Upgrade Dunk (#{myPlayer.dunk})
        hr

        button(type="submit", name="stat", value="def") Upgrade Defence (#{myPlayer.def})
        hr

        button(type="submit", name="stat", value="reb") Upgrade Rebound (#{myPlayer.reb})
        hr

        button(type="submit", name="stat", value="hand") Upgrade Handles (#{myPlayer.hand})
        hr

        button(type="submit", name="stat", value="pass") Upgrade Passing (#{myPlayer.pass})
        hr

        button(type="submit", name="stat", value="spd") Upgrade Speed (#{myPlayer.spd})

        button(type="submit", name="stat", value="cancel") Cancel Upgrade